<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <div id="myApp">
        <h1>Batman Quotes {{ totalQuotes }}</h1>
        <input type="text" placeholder="Enter your quote" @keyup.enter="addQuote" v-model="newQuote">
        <button v-on:click="toggleAuthor">Toggle Author</button>
<!--        <button @click="addQuote">Add Quote</button>-->
        <hr>
        <ul>
            <li v-for="({quote, author}, index) in quotes">
                <span>{{ index + 1 }} - {{ quote }}</span>
                <blockquote v-if="showAuthor">{{ author }}</blockquote>
            </li>
        </ul>
        
        
    </div>
    
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="app.js"></script>
</body>
</html>